.lorem-section {
  display: flex;
  justify-content: center;
  margin-right: 50px;

  @include tablet {
    margin-left: 30px;
    margin-right: 0;
  }

  &__list {
    padding-top: 60px;

    @include tablet {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @include desktop {
      padding-top: 94px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
  }

  &__list-item {
    @include desktop {
      padding-right: 20px;
    }
  }

  &__list-item > svg {
    background-color: $background-two;
    padding-bottom: 25px;
    padding-top: 25px;
    width: 100%;

    @include tablet {
      padding: 25px 102px;
      width: auto;
    }

    @include desktop {
      padding: 25px 100px;
      width: auto;
    }
  }

  &__list-item h3 {
    font-size: 14px;
    text-align: center;

    @include tablet {
      text-align: left;
    }

    @include desktop {
      text-align: left;
    }
  }

  &__list-item p {
    color: #757575;
    letter-spacing: 0.03em;
    font-size: 14px;

    text-align: center;
    width: 100%;

    @include tablet {
      text-align: left;
      width: 334px;
    }

    @include desktop {
      width: 270px;
      text-align: left;
    }
  }
}
