.menu-container.is-open {
  transform: translateX(0);
}

.menu-container {
  background: #fff;
  position: fixed;
  inset: 0;
  transform: translateX(100%);
  transition: transform 250ms;
  display: flex;

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 8px;
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover,
    &:focus {
      fill: $basic-color;
    }
  }
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 48px;

  &_nav {
    display: flex;
    flex-direction: column;

    gap: 36px;
  }
  &_nav-item {
    font-size: 40px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.8px;

    &:hover,
    &:focus {
      color: $basic-color;
    }
  }
}

.mobile-contact {
  &__tel {
    color: $basic-color;
    font-size: 34px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.68px;
  }
  &__mail {
    color: #757575;
    font-size: 24px;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 0.48px;
  }
  &__social {
    margin-top: 64px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    gap: 10px;
  }
  &__social-item {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.36px;
  }

  &__item {
    padding-bottom: 32px;
  }

  &__social-list {
    color: $basic-color;

    &::after {
      content: "";
      border-right: 1px solid $contact-color;
      height: 22px;
      margin: 0 9.5px;
      opacity: 0.5;
    }
  }
}
