.clients-section {
  &__list {
    justify-content: space-around;
    padding-bottom: 94px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    margin-left: -40px;

    @include tablet {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      width: 100%;
      margin-left: -50px;
    }

    @include desktop {
      flex-wrap: nowrap;
      width: 1200px;
    }
  }

  &__icons {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    padding: 16px 32px;

    transition: $transition-fill, $transition-color;
  }

  &__icons {
    &:hover,
    &:focus {
      fill: $basic-color;
      border-color: $basic-color;
    }
  }
}
