.slider {
    background-image: linear-gradient($overlay, $overlay),
        url("../images/slider.jpg");
    background-color: rgba(47, 48, 58, 0.4);
    height: 600px;
    width: 1600px;
    background-size: contain;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    margin: auto;

    &_item--button {
        background-color: $basic-color;
            color: #fff;
            cursor: pointer;
            border: none;
            border-radius: 3px;
            font-weight: 700;
            line-height: 1.9;
            width: 200px;
            height: 50px;
    }

}

